body{
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #555353;
}
.navbar-container{
    margin-bottom: 0;
    position: sticky;
}
.navbar-container ul{
    display: block;
    list-style-type: none;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #555353;
    overflow: hidden;
}
.navbar-container a{
    color: #FFDD06;
    font-weight: bold;
    text-decoration: none;
    float: right;
    margin-right: 2%;
    padding: 25px 20px;
    text-align: right;
}
.flexible-container{
    display: flex;
}
.flex-width1{
    width: 40%;      
}
#top-banner{
    font-size: 40px;
    text-align: end;
    line-height: 50px;
}
.flex-width2{
    width: 60%;
    padding-left: 30px;
}
.flex-width2 img{
    width:100%;  
}
.text-color{
    color: #FFDD06;
}
#banner-paragraph{
    font-size: 20px;
    text-align: left;
    margin-left: 20px;
    padding-bottom: 0;
    line-height: 30px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#FFDD06,#ff7c02);
    box-shadow: 0 0 20px #97968d88;
    font-size: 20px;
    border-radius: 25px;
    padding: 10px 50px;
    margin-left: 20px;
    float: left;
    color: rgba(0, 0, 0, 0.575);
}


#about-us{
    padding: 0 5%;
    border: 5px dotted #555353;
    margin-bottom: 4px;

}
#about-us h1{
    font-size: 40px;
    text-align: center;
}
#about-us p{
    font-size: 18px;
    text-align: justify;
    padding-top: 50px;
    padding-bottom: 25px;
    
}
#about-picture{
    padding-left: 0;
    padding-bottom: 0;
    float: left;
}
#about-us .link-button{
    margin-left: 0;
}

#Recipes{
    background-image: url(shapes/recipe-bg.jpg);
    display: block;
    padding: 2% 35px;
    
}
#Recipes h1{
    text-align: center;
    font-size: 40px;
}
#Recipes p{
    text-align: center;
    padding-bottom: 10px;
}
#Recipes h2{
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    color: #FFDD06;
}
.one-third-width{
    width: 33.33%;
    margin:0 3%;
    padding-top: 2%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.425);
    background-color: #555353c2;
    color: whitesmoke;
    border-radius: 20px;
}
.one-third-width img{
    display: block;
    width: 60%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
#Recipes .one-third-width p{
    text-align: justify;
    padding: 5px 15px;
}


.mail .flex-width1 img{
    width: 70%;
    padding: 5%;
    float:right;
}
.mail {
    margin: 5%;
    border: #555353;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.425);
    border-radius: 20px;
}
.mail .flex-width2{
    padding-right: 0;
    padding-left: 30px;
}
.mail .flex-width2 h1{
    font-size: 40px;
}
.mail .flex-width2 p{
    font-size: 19px;
    line-height: 40px;
}

footer{
    display: block;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 7%;
    background-color: #555353;
}  
footer h1{
    color: gainsboro;
    font-size: 30px;
}
footer h3{
    color: whitesmoke;
}